:root {
  --base-size: 1rem;
  --type-scale: 1.25;
  --small: calc(var(--base-size) * var(--type-scale));
  --big: calc(var(--small) * var(--type-scale));
  --bigger: calc(var(--big) * var(--type-scale));
  --biggest: calc(var(--bigger) * var(--type-scale));
  --smaller: calc(var(--base-size) / var(--type-scale));

  --accent-color: #64ffda;
  --secondary-color: #0a192f;
  --light-gray: #ccd6f6;
  --dark-gray: #8892b0;
  --black: #1c1c1c;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
}

header li {
  list-style: none;
  text-transform: capitalize;
}
header a {
  color: var(--light-gray);
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

/* NAV SECTION */
.desktop-menu {
  display: none;
}
.mobile-menu {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1;
  background: var(--secondary-color);
  box-shadow: 0px 4px 8px rgba(204, 214, 246, 0.25);
}
.mobile-nav {
  position: absolute;
  top: 120%;
  width: 250px;
  display: none;
  padding: 1rem 0 1rem 2rem;
  background-color: #12233d;
}
.mobile-nav li {
  margin-bottom: 1.5rem;
}
.mobile-nav a {
  font-size: 1.2rem;
}
.show {
  display: inline-block;
}
.mobile-menu button {
  border: none;
}
.close-menu {
  display: none;
  background-color: var(--secondary-color);
}
.open-menu {
  background-color: var(--secondary-color);
}
/* HERO SECTION */
#hero-section {
  padding: 16rem 1.5rem 9rem;
  text-align: center;
}
.hello-wave {
  position: relative;
}
.hello-wave img {
  position: absolute;
  bottom: -10px;
  width: 40px;
}
#hero-section h3:nth-child(1) {
  color: var(--accent-color);
  font-size: var(--small);
}
#hero-section h1:nth-child(2) {
  font-size: var(--bigger);
  color: var(--light-gray);
  margin-top: 0.8rem;
}
#hero-section h3:nth-child(3) {
  color: var(--accent-color);
  margin-top: 0.4rem;
  font-size: var(--small);
}
#hero-section p:nth-child(4) {
  color: var(--light-gray);
  font-size: var(--base-size);
  margin: 1.2rem 0 2.3rem;
}
.hire_btn {
  background-color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  height: 55px;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
}
.hero_img_div {
  display: none;
}

/* ABOUT SECTION */
#about-section {
  margin: 6rem 1.2rem;
}
.about_text {
  margin-bottom: 4rem;
}
.section_heading {
  margin: 3rem 0 1.5rem;
  text-align: center;
}
.section_heading h2 {
  color: var(--dark-gray);
  display: inline;
  font-size: var(--big);
}
.section_heading span {
  width: 75px;
  border-bottom: 1px solid #ccd6f6;
  display: inline-block;
  margin: 0 1rem 0.5rem;
}

.about_text > p {
  color: var(--light-gray);
  margin-bottom: 1rem;
  font-size: var(--smaller);
}
.about_img {
  display: flex;
  justify-content: center;
}
.about_img img {
  width: 275px;
}
/* PORJECT SECTION */
#project-section {
  text-align: center;
  margin: 10rem 1rem;
  position: relative;
}
#project-section p {
  color: var(--light-gray);
  margin-bottom: 1rem;
  font-size: var(--base-size);
}
.triangle_shape_mobile {
  position: absolute;
  top: 17%;
  left: -9px;
}
.triangle_shape_desktop {
  display: none;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.089rem 1rem 2.934rem;
}
.project {
  width: 270px;
  height: 150px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin-bottom: 1.286rem;
}

.github_link {
  text-decoration: none;
  text-align: center;
  background: var(--accent-color);
  color: var(--secondary-color);
  font-weight: 500;
  letter-spacing: 0.001em;
  border-radius: 5px;
  padding: 1.063rem 1.219rem;
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
}

/* BLOG SECTION */
#blog-section {
  margin: 7rem 0 4rem;
}
.blog_description {
  padding: 0.8rem;
}
.blog_description h2 {
  color: var(--dark-gray);
  margin-bottom: 0.6rem;
  font-size: var(--big);
}
.blog_description p {
  color: var(--light-gray);
  font-size: var(--smaller);
}
.blog_description span {
  width: 105px;
  border-bottom: 4px solid var(--accent-color);
  display: inline-block;
  margin: 0.8rem 0;
}
.blog_img_one {
  background: url("https://res.cloudinary.com/freakingspicy/image/upload/v1662583806/portfolio%20imasges/blog-img-one_ighiqe.svg"),
    #0a192f;
  background-size: cover;
  height: 219px;
  margin: 1rem;
}
.blog_img_two {
  background: url("https://res.cloudinary.com/freakingspicy/image/upload/v1662585460/portfolio%20imasges/blog-two-img_lncbkd.svg");
  height: 219px;
  background-size: cover;
  margin: 1rem;
}
.blog_img_three {
  background: url("https://res.cloudinary.com/freakingspicy/image/upload/v1662585463/portfolio%20imasges/blog-three-img_qssddx.svg");
  height: 219px;
  background-size: cover;
  margin: 1rem;
}

/* CONTACT SECTION */
#contact-section {
  position: relative;
  padding: 4rem 1rem;
  text-align: center;
  margin-bottom: 3rem;
}
#contact-section p {
  color: var(--light-gray);
  font-size: var(--smaller);
  margin-bottom: 2rem;
}

#contact-section form input[type="text"],
#contact-section form textarea {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  background: var(--secondary-color);
  padding: 0.8rem;
  color: var(--light-gray);
  width: 100%;
  margin-bottom: 0.625rem;
  transition: 0.2s ease all;
}
#contact-section form input[type="text"]:focus,
#contact-section form textarea:focus {
  border: 1px solid rgba(255, 255, 255, 0.253);
  outline: none;
}
#contact-section form input::placeholder,
#contact-section textarea::placeholder {
  color: var(--light-gray);
  font-weight: 500;
}
#contact-section form input[type="submit"] {
  background-color: var(--accent-color);
  border-radius: 5px;
  padding: 1.063rem 1.969rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease all;
  margin-top: 1rem;
}
#contact-section form input[type="submit"]:hover {
  opacity: 0.8;
}

#contact-section form input[type="submit"]:active {
  opacity: 0.4;
}
.Uptriangle_shape_desktop {
  display: none;
}
.Uptriangle_shape_mobile {
  position: absolute;
  top: 67%;
  right: 3px;
}
/* FOOTER SECTION */
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light-gray);
  font-size: var(--base-size);
  border-top: 2px solid var(--light-gray);
  padding-top: 2rem;
}
#footer > div {
  margin-bottom: 3rem;
}
.social_link {
  font-size: var(--small);
  color: var(--secondary-color);
  background: var(--light-gray);
  border-radius: 50%;
  padding: 0.3rem;
  margin-right: 0.583rem;
}
