/* BLOG SECTION */

.blog {
  margin: 7rem 1rem 4rem;

  &__heading {
    margin: 3rem 0 1.5rem;
    text-align: center;

    h2 {
      color: var(--dark-gray);
      display: inline;
      font-size: var(--big);
    }

    span {
      width: 75px;
      border-bottom: 1px solid #ccd6f6;
      display: inline-block;
      margin: 0 1rem 0.5rem;
    }
  }
  &__item {
    margin: 7rem 0 4rem;

    &_description {
      padding: 0.8rem;

      h2 {
        color: var(--dark-gray);
        margin-bottom: 0.6rem;
        font-size: var(--big);
        a {
          color: var(--dark-gray);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      p {
        color: var(--light-gray);
        font-size: var(--smaller);
        svg {
          margin-right: 0.2rem;
        }
      }

      span {
        width: 105px;
        border-bottom: 4px solid var(--accent-color);
        display: inline-block;
        margin: 0.8rem 0;
      }
      .dot {
        background-color: var(--dark-gray);
        font-weight: bold;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        border: none;
        margin: 0 0.4rem 0.2rem 0.4rem;
      }
    }
    &_img_div {
      position: relative;
      width: 100%;

      .img_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        color: #fff;
        transition: all 0.5s;
      }
      &:hover .img_overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.6);
        color: #f1f1f1;
      }
      a {
        text-decoration: none;
        svg {
          margin-right: 0.3rem;
        }
      }
    }
    &_img_one {
      background: url('https://res.cloudinary.com/freakingspicy/image/upload/v1663934928/portfolio%20imasges/SVG-Blog-Image_jehhzl.jpg'),
        #0a192f;
      background-size: cover;
      height: 219px;
      margin: 0 1rem;
      position: relative;
    }

    &_img_two {
      background: url('https://res.cloudinary.com/freakingspicy/image/upload/v1663935733/portfolio%20imasges/tailwindcss_s4x3sl.jpg');
      height: 219px;
      width: 100%;
      background-size: contain;
      // background-repeat: no-repeat;
      // background-position: center;
      margin: 1rem;
    }

    &_img_three {
      background: url('https://res.cloudinary.com/freakingspicy/image/upload/v1662585463/portfolio%20imasges/blog-three-img_qssddx.svg');
      height: 219px;
      background-size: cover;
      margin: 1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  :root {
    --type-scale: 1.4;
  }
  .blog__wrapper {
    margin: 0 6rem;
  }
  .blog__item {
    &_description {
      padding: 1.5rem 0.8rem;

      p {
        font-size: var(--base-size);
      }
    }

    // &_img_one {
    //   margin: 0 1rem;
    // }

    &_img_two {
      margin: 0 1rem 0 0;
    }

    &_img_three {
      margin: 0 1rem 0 0;
    }
  }
}

@media screen and (min-width: 900px) {
  :root {
    --type-scale: 1.414;
  }
  .blog__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 2rem;
  }
}

@media screen and (min-width: 1372px) {
  :root {
    --type-scale: 1.5;
  }
}
