.hero {
  padding: 16rem 1.5rem 9rem;
  text-align: center;

  &__heading {
    color: var(--accent-color);
    font-size: var(--bigger);
    margin-bottom: 2rem;
  }

  &__subheading {
    color: var(--accent-color);
    margin-top: 0.4rem;
    font-size: var(--small);
    margin-bottom: 2rem;
  }

  &__welcome {
    font-size: var(--small);
    color: var(--light-gray);
    margin-bottom: 2rem;
    position: relative;

    &--img {
      position: absolute;
      bottom: -1px;
      width: 35px;
      margin-bottom: -0.5rem;
    }
  }

  &__description {
    margin: 2rem 0;
    color: var(--light-gray);
    font-size: var(--base-size);
    margin-bottom: 2rem;
  }
  &__cta {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
    width: fit-content;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    display: inline-block;
    // transition: background-color 0.5s ease;

    &:hover {
      background-color: var(--btnhover-color);
      border: dotted var(--secondary-color);
      padding: 0.3rem 1rem;
    }
  }

  &__img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --type-scale: 1.4;
  }

  .hero {
    padding: 12rem 2rem 0;

    &__description {
      font-size: var(--base-size);
    }
  }
}
@media screen and (min-width: 769px) {
  .hero {
    padding: 11rem 4rem 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__intro {
      width: 50%;
      padding-right: 2rem;
    }

    &__img {
      width: 50%;
      display: block;
      display: flex;
      justify-content: center;

      img {
        width: 300px;
      }
    }
  }
}
@media screen and (min-width: 900px) {
  :root {
    --type-scale: 1.414;
  }
  .hero {
    &__img img {
      width: 400px;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1372px) {
  .hero {
    padding: 12rem 6rem 0;

    &__welcome {
      font-size: var(--big);

      &--img {
        width: 45px;
      }
    }

    &__heading {
      font-size: var(--biggest);
    }

    &__subheading {
      font-size: var(--small);
    }
  }
}
@media screen and (min-width: 1372px) {
  :root {
    --type-scale: 1.5;

    .hero {
      padding: 12rem 9rem 0;

      &__heading {
        font-size: var(--bigger);
      }

      &__subheading {
        font-size: var(--big);
      }

      &__welcome {
        font-size: var(--big);

        &--img {
          bottom: -6px;
          width: 55px;
        }
      }

      &__description {
        font-size: var(--small);
      }

      &__img {
        display: block;
        img {
          width: 550px;
        }
      }
    }
  }
}
