/* NAV SECTION */

header {
  li {
    list-style: none;
    text-transform: capitalize;
  }
  a {
    color: var(--light-gray);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: block;
  }
}

.desktop-menu {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  z-index: 1;
  background: var(--secondary-color);
  box-shadow: 0px 4px 8px rgba(204, 214, 246, 0.25);

  .mobile-nav {
    position: absolute;
    top: 120%;
    width: 250px;
    display: none;
    padding: 1rem 0 1rem 2rem;
    background-color: #0e1c31;
    transition: all 0.5s ease;

    &.show {
      display: block;
    }

    li {
      margin-bottom: 1rem;

      a {
        font-size: 1rem;
      }
    }

    .social_link {
      font-size: var(--small);
      color: var(--secondary-color);
      background: var(--light-gray);
      border-radius: 50%;
      padding: 0.3rem;
      margin-bottom: 1.3rem;
    }
  }
  .showMobileNav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0.5rem 2rem;
    background-color: #0f1d31;
    box-shadow: -3px 17px 13px 4px #0f1a2b;
  }

  button {
    border: none;
  }
  .menu_btn_con {
    cursor: pointer;
  }
  .menu_btn {
    background-color: var(--secondary-color);
    width: 32px;
    height: 19px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
      background-color: var(--accent-color);
      display: block;
      position: absolute;
      left: 0;
      height: 5px;
      width: 100%;
      border-radius: 9px;
      opacity: 1;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 10px;
      }
      &:nth-child(4) {
        top: 21px;
      }
    }

    &.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    &.open span:nth-child(2) {
      transform: rotate(45deg);
    }
    &.open span:nth-child(3) {
      transform: rotate(-45deg);
    }
    &.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    // svg {
    //   cursor: pointer;

    //   rect {
    //     transition: all 0.3s ease-in-out;
    //   }
    // }
  }

  // .change {
  //   rect.middle {
  //     x: 0;
  //     opacity: 0;
  //   }
  //   rect.top {
  //     transform: rotate(45deg);
  //     transform-origin: center top;
  //     x: 50px;
  //     y: 35px;
  //   }
  //   rect.bottom {
  //     transform: rotate(-45deg);
  //     transform-origin: center top;
  //     x: -20px;
  //     y: 25px;
  //   }
  // }
}

@media screen and (min-width: 768px) {
  :root {
    --type-scale: 1.4;
  }
  /* NAV SECTION */
  .mobile-menu {
    display: none;

    .open-menu {
      display: none;
    }
    .close-menu {
      display: none;
    }
  }
  .desktop-menu {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 0;
    background: var(--secondary-color);
    box-shadow: 0px 4px 8px rgba(204, 214, 246, 0.25);
    z-index: 1;

    .desktop-nav ul {
      display: flex;

      li {
        margin-left: 2rem;
        position: relative;

        a {
          font-size: 1.1rem;
          line-height: 1.438rem;
          padding: 0 0.3em;
          transition: 1s linear 0s;

          &:hover {
            border-bottom: 2px solid var(--accent-color);
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1025px) and (max-width: 1372px) {
  .desktop-menu {
    padding: 1rem 6rem 0;
  }
}
@media screen and (min-width: 1372px) {
  :root {
    --type-scale: 1.5;
  }
  .desktop-menu {
    padding: 1rem 8rem 0;
  }
}
