/* NAV SECTION */

header {
  li {
    list-style: none;
    text-transform: capitalize;
  }
  a {
    color: var(--light-gray);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: block;
  }
}

.desktop-menu {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  z-index: 1;
  background: var(--secondary-color);
  box-shadow: 0px 4px 8px rgba(204, 214, 246, 0.25);

  .mobile-nav {
    position: absolute;
    top: 120%;
    width: 250px;
    display: none;
    padding: 1rem 0 1rem 2rem;
    background-color: #12233d;

    li {
      margin-bottom: 1.5rem;

      a {
        font-size: 1.2rem;
      }
    }
  }

  button {
    border: none;
  }

  .close-menu {
    display: none;
    background-color: var(--secondary-color);
  }

  .open-menu {
    background-color: var(--secondary-color);
  }
}

.show {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  :root {
    --type-scale: 1.4;
  }
  /* NAV SECTION */
  .mobile-menu {
    display: none;

    .open-menu {
      display: none;
    }
    .close-menu {
      display: none;
    }
  }

  .desktop-menu {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 0;
    background: var(--secondary-color);
    box-shadow: 0px 4px 8px rgba(204, 214, 246, 0.25);
    z-index: 1;

    .desktop-nav ul {
      display: flex;

      li {
        margin-left: 2rem;

        a {
          font-size: 1.1rem;
          line-height: 1.438rem;
          padding: 0 0.3em;
          transition: all 2s linear;

          &:hover {
            border-bottom: 2px solid var(--accent-color);
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1025px) and (max-width: 1372px) {
  .desktop-menu {
    padding: 1rem 6rem 0;
  }
}
@media screen and (min-width: 1372px) {
  :root {
    --type-scale: 1.5;
  }
  .desktop-menu {
    padding: 1rem 8rem 0;
  }
}
